<div class="accesibility">
    <span class="option light">
        <span>
            <mat-icon class="icon">light_mode</mat-icon>
        </span>
        <label>Contraste</label>
    </span>
    <span class="option increase" (click)="increaseSize()">
        <span>
            <mat-icon class="icon">text_increase</mat-icon>
        </span>
        <label>Aumentar letra</label>
    </span>
    <span class="option decrease" (click)="decreaseSize()">
        <span>
            <mat-icon class="icon">text_decrease</mat-icon>
        </span>
        <label>Reducir letra</label>
    </span>
</div>