.accesibility
    background-color: #004884
    border: 1px solid white
    position: fixed
    right: 0
    margin-top: 35vh
    height: 30vh
    width: 5vw
    border-radius: 15px
    overflow: visible
    z-index: 900
    .option
        position: fixed
        height: 4vw
        width: 5vw
        display: flex
        flex-direction: column
        justify-content: center
        transition: width 0.5s
        &:hover
            cursor: pointer
            background-color: #65ade8
            border-top-left-radius: 15px
            border-bottom-left-radius: 15px
            position: fixed
            width: 12vw
            height: 4vw
            display: flex
            flex-direction: row
            justify-content: flex-start
            gap: 1rem
            z-index: 3
            right: 0
            label
                font-family: sans-serif
                display: block
                color: white
                margin-top: auto
                margin-bottom: auto
                font-size: 1rem
                font-weight: 600
        span
            height: 2.5vw
            width: 2.5vw
            margin-top: auto
            margin-bottom: auto
            margin-left: 1.2vw
            background-color: white
            border-radius: 15px
            display: flex
            flex-direction: column
            justify-content: center
            .icon
                height: 1.5vw
                width: 1.5vw
                font-size: 1.5vw
                margin-left: auto
                margin-right: auto
                color: #004884
        label
            display: none
        
    .light
        margin-top: 1.5vh
    .increase
        margin-top: 10.5vh
        &:hover
            cursor: pointer
        label:hover
            cursor: pointer
    .decrease
        margin-top: 19.5vh
        &:hover
            cursor: pointer
        label:hover
            cursor: pointer
        
