<div class="footer">
    <div class="section first">
        <img src="../../../assets/images/gov-co.png" alt=""><br>
        <img src="../../../assets/images/co.png" alt="">
    </div>
    <div class="separador"></div>
    <div class="section second">
        <p class="titulo">Nombre completo de la entidad responsable</p>
        <div class="contact">
            <span>
                <label>Dirección: </label>
                <p> xxxxxx xxx xxx</p>
            </span>
            <span>
                <label>Código postal: </label>
                <p> xxx departamento [si aplica], Municipio o distrito</p>
            </span>
            <span>
                <label>Horario de atención: </label>
                <p> Lunes a viernes xxxx am - xxxx pm</p>
            </span>
        </div>
        <div class="media">
            <span>
                <img width="30px" src="../../../assets/images/twitter.png" alt="">
                <p>Twitter</p>
            </span>
            <span>
                <img width="30px" src="../../../assets/images/insta.webp" alt="">
                <p>instagram</p>
            </span>
            <span>
                <img width="50px" src="../../../assets/images/wpp.png" alt="">
                <p>Whatsapp</p>
            </span>
        </div>
    </div>
    <div class="separador"></div>
    <div class="section third">
        <span class="titulo-span">
            <mat-icon>phone_in_talk</mat-icon>
            <p class="titulo">Contacto</p>
        </span>
        <div class="contact">
            <span>
                <label>Dirección: </label>
                <p> xxxxxx xxx xxx</p>
            </span>
            <span>
                <label>Código postal: </label>
                <p> xxx departamento [si aplica], Municipio o distrito</p>
            </span>
            <span>
                <label>Horario de atención: </label>
                <p> Lunes a viernes xxxx am - xxxx pm</p>
            </span>
        </div>
    </div>
</div>