<div class="footer">
    <div class="section">
        <img src="../../../assets/images/gov-co.png" alt="">
    </div>
    <div class="section">
        <p class="titulo">Nombre completo de la entidad responsable</p>
        <div class="contact">
            <span>
                <label>Dirección: </label><p> xxxxxx xxx xxx</p>
            </span>
            <span>
                <label>Código postal: </label><p> xxx departamento [si aplica], Municipio o distrito</p>
            </span>
            <span>
                <label>Horario de atención: </label><p> Lunes a viernes xxxx am - xxxx pm</p>
            </span>
        </div>
        <div class="media">
            <mat-icon>instagram</mat-icon>
        </div>
    </div>
    <div class="section">
        <mat-icon>phone_in_talk</mat-icon><p>Contacto</p>
        <div class="contact">
            <span>
                <label>Dirección: </label><p> xxxxxx xxx xxx</p>
            </span>
            <span>
                <label>Código postal: </label><p> xxx departamento [si aplica], Municipio o distrito</p>
            </span>
            <span>
                <label>Horario de atención: </label><p> Lunes a viernes xxxx am - xxxx pm</p>
            </span>
        </div>
    </div>
</div>