<div class="header" id="header">
    <div class="gov-co" id="gov-co">
        <span *ngIf="responsive" (click)="changeOpen()">
            <mat-icon class="icon">menu</mat-icon>
        </span>
        <a href="https://www.gov.co"><img src="../../../assets/images/gov-co.png" alt=""></a>
    </div>
    <div *ngIf="!responsive" class="banner" id="banner">
        <div class="img-container">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="actions" id="actions">
            <input type="text">
            <span>
                <mat-icon class="icon">search</mat-icon>
            </span>
            <div class="language" [matMenuTriggerFor]="menu">
                <p>{{language}}</p>
                <mat-icon class="icon">keyboard_arrow_down</mat-icon>
            </div>
            <mat-menu class="mat-menu" #menu="matMenu">
                <button (click)="changeLanguage('ES')" mat-menu-item>ES</button>
                <button (click)="changeLanguage('EN')" mat-menu-item>EN</button>
            </mat-menu>
        </div>
    </div>
    <responsive-nav-bar *ngIf="responsive" [open]="open" [changeOpen]="changeOpen"></responsive-nav-bar>
    <div *ngIf="!responsive" class="menu" id="menu">
        <img src="../../../assets/images/chair.png" alt="">
        <div class="buttons">
            <div class="boton" [matMenuTriggerFor]="menu1">
                <p>{{'menu.item1' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu1="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
            <div class="boton" [matMenuTriggerFor]="menu2">
                <p>{{'menu.item2' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu2="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
            <div class="boton" [matMenuTriggerFor]="menu3">
                <p>{{'menu.item3' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu3="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
            <div class="boton" [matMenuTriggerFor]="menu4">
                <p>{{'menu.item4' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu4="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
            <div class="boton" [matMenuTriggerFor]="menu5">
                <p>{{'menu.item5' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu5="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
            <div class="boton" [matMenuTriggerFor]="menu6">
                <p>{{'menu.item6' | translate}}</p>
            </div>
            <mat-menu class="mat-menu" #menu6="matMenu">
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
                <button mat-menu-item>Certificación de existencia</button>
            </mat-menu>
        </div>
    </div>
</div>