<div class="header" id="header">
    <div class="gov-co" id="gov-co">
        <img src="../../../assets/images/gov-co.png" alt="">
        <button>Cambiar idioma</button>
    </div>
    <div class="banner" id="banner">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="menu" id="menu">
        <img src="../../../assets/images/chair.png" alt="">
        <div class="buttons">
            <div class="boton" (click)="click()"><p> Indersantander</p></div>
            <div class="boton"><p>Financiera</p></div>
            <div class="boton"><p>PQRS</p></div>
            <div class="boton"><p>Procesos misionales</p></div>
            <div class="boton"><p>Gestión</p></div>
            <div class="boton"><p>Transparencia</p></div>
        </div>
    </div>
</div>